*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
   
}
.container1
{
    width: 80%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    margin: auto;
}
.help
{
    width: 100%;
    min-height: 40px;
    background-color: #436850;
    display: flex;
    flex-direction: row;
}
.help .contact{

    display: flex;
    flex-direction: row;
    flex-basis: 75%;

}
.contact h4
{
    color: white;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.help .icons{

    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-basis: 20%;
    padding-top: 10px;
}
.icons .b1
{
    padding-left: 15px;
    color: white;
    font-size: 1.2em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.icons .b1:hover{
   
    color: white;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.logo-menu-div
{
    width: 100%;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
    margin-top: 10px;
    background-color: #436850;
}
.logo-menu-div .logo label
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;

}
.menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}
.menu ul li{
    list-style-type: none;
    padding: 10px;
   
    
}
.menu ul li a{

    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
.menu ul li:hover{

    background-color: #ADBC9F;
    color: black;

}
.menu ul li a:hover{
    color: black;
}


.slider
{
    width: 100%;
    min-height: 200px;
    /* border: 1px solid #000; */
    margin-top: 10px;
}
.box
{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.box .b1
{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    
}
.b1 .text-heading{
    width: 100%;
    min-height: 60px;
    /* background-color: #436850; */
}
.text-heading h3{
   
    background-color: #436850;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.img-div img{
    width: 100%;
    height: 300px;
}

/* footer css started */
.footercon{

    width: 100%;
    min-height: 200px;
    /* margin-top: 100px; */
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
.footer{
    background-color: #24262B;
    margin-top: 120px;
    padding: 50px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.1em;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 1em;
    text-transform: capitalize;
    color:#fff;
    text-decoration: none;
    font-weight: 100;
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#fff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.footer-col .social-links a:hover{

    color:#24262B;
    background-color: #fff;
    /* text-align: center; */
}


@media only screen and (max-width:768px)
{
    .logo-menu-div{
        display: flex;
        flex-direction: column;
    }
    .menu ul{
        display: block;
        
    }
    .menu ul li{
        text-align: center;
    }
    .logo-menu-div .logo label{

        margin-left: 20vw;
        min-width: 150px;
        font-size: 1.6em
    }
    .box{
        display: flex;
        flex-direction: column;
        height: auto;
        gap:15px;
    }
    .box .b1 .img-div img{

       display: flex;
       justify-content: center;
       align-items: center;
    }
    .footer-col{
        width: 100%;
    }
}
 