*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
    background-color:azure;
   
}
.container1
{
    width: 80%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    margin: auto;
}
.help
{
    width: 100%;
    min-height: 40px;
    background-color: #436850;
    display: flex;
    flex-direction: row;
}
.help .contact{

    display: flex;
    flex-direction: row;
    flex-basis: 75%;

}
.contact h4
{
    color: white;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.help .icons{

    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-basis: 20%;
    padding-top: 10px;
}
.icons .b1
{
    padding-left: 15px;
    color: white;
    font-size: 1.2em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.icons .b1:hover{
   
    color: white;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.logo-menu-div
{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
    margin-top: 10px;
    background-color: #436850;
}
.logo-menu-div .logo label
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;

}
.menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}
.menu ul li{
    list-style-type: none;
    padding: 10px;
   
    
}
.menu ul li a{

    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
.menu ul li:hover{

    background-color: #ADBC9F;
    color: black;

}
.menu ul li a:hover{
    color: black;
}


.slider
{
    width: 100%;
    min-height: 200px;
    /* border: 1px solid #000; */
    margin-top: 10px;
}
.box
{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.box .b1
{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    
}
.b1 .text-heading{
    width: 100%;
    min-height: 60px;
    /* background-color: #436850; */
}
.text-heading h3{
   
    background-color: #436850;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.img-div img{
    width: 100%;
    height: 300px;
}

/* footer css started */
.footercon{

    width: 100%;
    min-height: 200px;
    /* margin-top: 100px; */
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
.footer{
    background-color: #24262B;
    margin-top: 120px;
    padding: 50px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.1em;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 1em;
    text-transform: capitalize;
    color:#fff;
    text-decoration: none;
    font-weight: 100;
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#fff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.footer-col .social-links a:hover{

    color:#24262B;
    background-color: #fff;
    /* text-align: center; */
}

/* headphone code started */
.prod-div
{
    width: 100%;
    min-height: 200px;
    border: 1px solid #000;
    margin-top: 10px;
    display: flex;  
}
.prod-div .prod-img{
   flex-basis: 30%;
   margin-left: 20px;
   height: 330px;
}
.prod-div .prod-img img
{
    width: 100%;
    height: 100%;
    margin: 0 15px 0 0;
    z-index: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.prod-div .prod-img img:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.prod-div .prod-heading{
    display: flex;
    flex-direction: column;
    flex-basis: 66%;
}

.prod-div .prod-heading h2{
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.prod-div .prod-heading .sub-item h4{
   font-weight: bold;
   font-size: 1em;
   position: relative;
}
.prod-div .prod-heading .sub-item p
{
    padding: 10px;
    margin-top: 10px;
}
.prod-div .prod-heading .sub-item h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    height: 5px;
    box-sizing: border-box;
    width: 200px;

}
.prod-div .prod-heading .other-info{
    width: 100%;
    border: 1px solid #000;
    
}
.prod-div .prod-heading .other-info h4{
    position: relative;
    padding: 10px;
    font-weight: bold;
   font-size: 1em;

}
.prod-div .prod-heading .other-info h4::before{
    content: '';
    position: absolute;
    left: 10px;
    bottom: -10px;
    background-color: #E91E63;
    height: 5px;
    box-sizing: border-box;
    width: 200px;

}
.accr
{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}

.prod-div1
{
    width: 100%;
    min-height: 200px;
    border: 1px solid #000;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.prod-div1 .img-div
{
    min-width: 300px;
    height: 300px;
    
}
.prod-div1 .img-div img{
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
.prod-div1 .img-div img:hover{
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}
.prod-head{

    display: flex;
    flex-direction: column;
    width: 100%;
}
.prod-head h2{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8em;
    font-weight: bold;
}
.prod-head .about-prod{

    width: 100%;
    display: flex;
}
.prod-head .about-prod h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
.prod-head .about-prod h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    height: 4px;
    box-sizing: border-box;
    width: 200px;

}
.about-desc img
{
    width: 28px;
    height: 28px;
    margin-bottom: 15px;
    padding: 5px;
}
.other-info1
{
    width: 100%;
    min-height: 200px;
    border: 1px solid #000;
}
 
.other-info1 h4
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
.other-info1 h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    height: 4px;
    box-sizing: border-box;
    width: 200px;

}

@media  screen and (max-width:768px)
{
    .container1{
        width: 100%;
    }
    .logo-menu-div{
     
       flex-direction: column;
       z-index: 10000;
       height: auto;
      
    }
    
    .menu ul{
        display: block;

    }
    .menu ul li{
        text-align: center;
        
        
    }
   
    .logo-menu-div .logo label{

        margin-left: 20vw;
        min-width: 150px;
        font-size: 1.6em
    }
    .box{
        display: flex;
        flex-direction: column;
        height: auto;
        gap:15px;
    }
    .box .b1 .img-div img{

       display: flex;
       justify-content: center;
       align-items: center;
    }
    .footer-col{
        width: 100%;
    }
   .prod-div{
    flex-direction: column;
   }
   .prod-div1
   {
    flex-direction: column;
   }
}
 